.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}


.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color: #d86e3a;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
    /* interpolate color between yellow and red based on first color brightness */
    -fx-body-color: ladder(#444, #d86e3a 0%, #903b12 100%);
}

.spinner .increment-arrow-button:hover:pressed,
.spinner .decrement-arrow-button:hover:pressed,
.spinner .increment-arrow-button:pressed,
.spinner .decrement-arrow-button:pressed {
    /* interpolate color between yellow and red based on first color brightness */
    -fx-body-color: ladder(#AAA, #d86e3a 0%, #903b12 100%);
}


.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0, 0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
    #9d4024,
    #d86e3a,
    radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 4, 0, 0, 1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.button:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
    #9d4024,
    #d86e3a,
    radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}

.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0, 2 0 3 0, 2 0 4 0, 2 0 5 0;
}

.button.Text {
    -fx-fill: white;
    -fx-font-size: 12px;
    -fx-effect: dropshadow(gaussian, #a30000, 0, 0, 0, 2);

}

.label {
    -fx-font-family: sans-serif;
    -fx-font-size: 18px;
    -fx-text-fill: #331a00;
}

.root {
    -fx-background-color: white;
}